/* ----- RESET ----- */
*, *::before, *::after {
box-sizing: border-box;
}

* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

#root, #__next {
isolation: isolate;
}


/* ----- STYLES ----- */
#root {
    font-family: 'Recursive', sans-serif;
    user-select: none;
}

/* so you can drag the model around and not select everything in the page */
#root::selection {
    background-color: transparent;
}



/* ----- NAVBAR ----- */
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-left: 5px;
    z-index: 1;
}

.toggle-container {
    padding: 5px;
}



/* ----- CALCULATOR ----- */
.calculator-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: left;
    width:30%;
}